### SetUp

In [27]:
import numpy as np 
import pandas as pd
import os

import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

np.random.seed(42)
tf.random.set_seed(42)

### Get the data

In [28]:
data_path = '/home/login/Documents/Machine_learning/Datasets/reviews/reviews.csv'
data = pd.read_csv(data_path)
data.sample(2)

      Unnamed: 0                                 text  sentiment
887          887                Best headset ever!!!.          1
1671        1671  Service was slow and not attentive.          0

In [29]:
data.drop("Unnamed: 0", axis = 1, inplace = True)
data.sample(2)

                                                  text  sentiment
330                                  VERY comfortable.          1
1255  Good service very clean and inexpensive to boot!          1

#### Randomize the data

In [30]:
np.random.permutation(data.index)

array([1195, 1645, 1858, ...,  793, 1265,  685])

In [31]:
data = data.reindex(np.random.permutation(data.index))
data.head()

                                                   text  sentiment
757         The nano stated it.My son was dissapointed.          0
706   So anyone near you will hear part of your conv...          0
637   However BT headsets are currently not good for...          0
1983         Spend your money and time some place else.          0
279                       Comfort for our whole family.          1

In [32]:
sentences = data['text'].tolist()
labels = data['sentiment'].tolist()
# print(labels)

#### Split the data into train and test

In [36]:
train_size = int(len(labels) * 0.8)
print(f"Train size: {train_size}")

train_sentences = sentences[:train_size]
test_sentences = sentences[train_size:]
train_labels = labels[:train_size]
test_labels = labels[train_size:]

# Make labels into numpy arrays for use with network later
train_labels_final = np.array(train_labels)
test_labels_final = np.array(test_labels)

Train size: 1593

### Tokenize the data

In [ ]:
vocab_size = 1000
embedding_size = 16
max_length = 100
trunc_type = 'post'
padding_type = 'post'
oov_tok = "<OOV>"

tokenizer